.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .reset-counter {
        display: flex;
        padding: 10px;
        .info {
            
        }
        button {
            margin-left: auto;
            border: unset;
            background-color: rgb(16, 188, 231);
            color: white;
            padding: 8px;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}